{{#each events as |event|}}



   <!-- Developers, why are we using data-id and not just id? -->
   <ul data-id="{{event.id}}">
     <form class = "edit-events">
<input type="hidden" name="event[id]" value="{{event.id}}">
     <textarea name="event[event_name]">{{event_name}}</textarea>
     <textarea name="event[stuff]">{{stuff}}</textarea>
     <div>
      <button class="deleteEvents" type="click">DELETE</button>
    </div>
      <input class="editEvents" type="submit" value="EDIT">
    </form>
</ul>


{{/each}}
