{{#each events as |event|}}



   <!-- Developers, why are we using data-id and not just id? -->
   <ul data-id="{{event.id}}">
     <textarea>{{event_name}}</textarea>
     <textarea>{{stuff}}</textarea>
     <div>
      <button class="deleteEvents" type="click">DELETE</button>
    </div>
      <button class="editEvents" type="submit">EDIT</button>
</ul>

{{/each}}
