{{#each events as |event|}}



   <!-- Developers, why are we using data-id and not just id? -->
   <ul data-id="{{event.id}}">
     <div class="containerHandler">
     <form class = "edit-events">
<input type="hidden" name="event[id]" value="{{event.id}}">
      <h3 id="handler">HAPPENINGS</h3>
     <textarea id="list"name="event[event_name]">{{event_name}}</textarea>
       <h3 id="handler">STUFF</h3>
     <textarea id="list1"name="event[stuff]">{{stuff}}</textarea>
     <div>
      <button class="delete-events" type="click">DELETE</button>
    </div>
      <input class="edit-events" type="submit" value="EDIT">
    </form>
</ul>
</div>

{{/each}}
