$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#createNew {
  font-family: monospace;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.delete-events{
  font-family: monospace;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.edit-events {
  font-family: monospace;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#done {
  font-family: monospace;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#get {
  font-family: monospace;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.lead {
  font-family: monospace;
  font-size: 30px;
  color: #000000;
}

p{
  font-family: monospace;
  font-size: 30px;

}
.container-fluid {
  background: url('https://i.imgur.com/EigwKjR.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.calendar_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  height: 800px;
}

.column1{
  width: 169px;
  float:left;
}

.table-responsive {
  background-color: #fcf8e3;
}


.stuff_container {
clear: both;
margin-left: auto;
margin-right: auto;
}

h2 {
  text-align: center;
  font-size: 25px;
  color: #696969;
  font-family: monospace;
}

h3 {
  font-size: 30px;
  color: #a9a9a9;
  font-family: monospace;
}


#title {
  text-align: center;
  font-size: 60px;
  color: #000000;
  font-family: monospace;
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}


#sign-up{
  text-align: center;
  font-size: 12px;
  font-family: monospace;
  color: #8a6d3b;
}

#sign-in{
  text-align: center;
  font-size: 12px;
  font-family: monospace;
  color: #8a6d3b;

}

#sign-out {
  text-align: center;
  font-size: 12px;
  font-family: monospace;
  border: clear;
}

#change-password{
  text-align: center;
  font-size: 12px;
  font-family: monospace;
  border: 0;
  margin: 0;
  padding: 0;
  }

#message{
text-align: center;
font-size: 15px;
font-family: monospace;
}
// #calendar{
//   margin-right: auto;
//   margin-left: auto;
// }
