$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

#create {
  font-family: monospace;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#get {
  font-family: monospace;
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.lead{
  font-family: monospace;
  font-size: 30px;
}

p{
  font-family: monospace;
  font-size: 30px;

}
// .container-fluid {
//   background: url('https://i.imgur.com/EigwKjR.jpg');
//   background-size: cover;
//   background-position: center;
//   height: 100vh;
// }

.calendar_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  height: 800px;
}

.column1{
  width: 169px;
  float:left;
}

// .message{
// width:200px;
// }

.stuff_container {
clear: both;
margin-left: auto;
margin-right: auto;
}
h2 {
  text-align: center;
  font-size: 25px;
  color: #000000;
  font-family: monospace;
}

#title {
  text-align: center;
  font-size: 60px;
  color: #000000;
  font-family: monospace;
}

#title2 {
  text-align: center;
  font-size: 40px;
  color: navy;
  font-family: monospace;
}

#sign-up{
  text-align: center;
  font-size: 12px;
  font-family: monospace;
}

#sign-in{
  text-align: center;
  font-size: 12px;
  font-family: monospace;
}

#sign-out {
  text-align: center;
  font-size: 12px;
  font-family: monospace;
  border: clear;
}

#change-password{
  text-align: center;
  font-size: 12px;
  font-family: monospace;
  border: 0;
  margin: 0;
  padding: 0;
  }

#calendar{
  margin-right: auto;
  margin-left: auto;
}
